<section id="course_manage_page" class="container">
	{{#course}}
	<h2>{{department}}{{number}}-{{section}} {{semester}} {{year}} <span id="type"></span> Course Portfolio</h2>
	<script>
		// Visually set to 'Archived Course Portfolio' if read only
		if ('{{portfolio_type}}' == 'view'){
			$('#type').text('Archived')
		} 
	</script>
	{{/course}}
	<div class="container row">
		Course Summary
	</div>
	<div class="container row">
		{{#outcomes}}
		<h3>Student Learning Outcome {{index}}</h3>
		<p>{{description}}</p>
		<table id="student_learning_outcome_rubric">
			<tr>
				<th>Assessment Score</th>
				{{#metrics}}
				<th>{{name}}</th>
				{{/metrics}}
			</tr>
			<tr>
				<td>Exceeds Standards</td>
				{{#metrics}}
				<td>{{exceeds}}</td>
				{{/metrics}}
			</tr>
			<tr>
				<td>Meets Standards</td>
				{{#metrics}}
				<td>{{meets}}</td>
				{{/metrics}}
			</tr>
			<tr>
				<td>Partially Meets Standards</td>
				{{#metrics}}
				<td>{{partially}}</td>
				{{/metrics}}
			</tr>
			<tr>
				<td>Does Not Meet Standards</td>
				{{#metrics}}
				<td>{{not}}</td>
				{{/metrics}}
			</tr>
		</table>
		{{#artifacts}}
		<div class="container row">
			<h3>Artifact {{id}}: {{name}}</h3>
			<form id="edit_course_form" target="_self" method="POST">
				<table>
					<tr>
						<th>Student Index</th>
						{{#metrics}}
						<th>{{name}}</th>
						{{/metrics}}
						<th>Student Submission</th>
					</tr>
					{{#evaluations}}
					<tr>
						<td>{{student_index}}</td>
						{{#evaluation}}
						{{#evaluation_metrics}}
						<td>
							<select name="student-{{index}}-category-{{metric}}">
								<option value="6">Exceeds</option>
								<option value="7">Meets</option>
								<option value="8">Partially</option>
								<option value="9">Not</option>
								<option value="10">Does Not Apply</option>
							</select>
							<script>
								// Set dropdown to metric
								$('[name=student-{{index}}-category-{{metric}}]').val('{{value}}')

								// Disable dropdown if page is set to read only
								if('{{portfolio_type}}' == 'view'){
									$('[name=student-{{index}}-category-{{metric}}]').prop('disabled', true)
								}
							</script>
						</td>
						{{/evaluation_metrics}}
						{{/evaluation}}
						<td>
							<input name="student-{{student_index}}-submission" type="file"></input>						
							<script>
								// Disable submission if set to read only
								if('{{portfolio_type}}' == 'view'){
									$('[name=student-{{student_index}}-submission]').prop('disabled', true)
								}
							</script>
							attach <i class="material-icons">attachment</i>
						</td>

					</tr>
					{{/evaluations}}
				</table>
				<input name="submit-btn-{{artifact_id}}" type="submit" />					
				<script>
					// Disable submission if set to read only
					if('{{portfolio_type}}' == 'view'){
						$('[name=submit-btn-{{artifact_id}}]').prop('disabled', true)
					}
				</script>
			</form>
		</div>
		{{/artifacts}}
		{{/outcomes}}
	</div>
</section>